.table-cont{
    max-height: 84vh;
    overflow-y: auto;
    margin-top: 10px;
}
.table{
      width: 100%;
  padding: 1px;
  border-radius: 8px;
  
}
.table thead th{
     position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(235, 235, 235);
  /* color: rgb(49, 49, 49); */
  font-weight: 600;
  padding: 12px;
  /* border: 1px solid rgb(231, 230, 230); */
  text-align: center;
}
.table td{
      padding: 12px;
  text-align: center;
  /* border: 1px solid rgb(231, 230, 230); */
  font-size: 14px;
  /* color: rgb(57, 56, 56); */

}